@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* navigation area ___--------start---------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.activeHome,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.activeHome,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
/* navigation area ___--------end---------  */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* new plus area button ___--------Start--------- */
#newBtnArea {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  background-color: rgb(247, 108, 108);
  font-size: x-large;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.labelForNewBtn {
  margin-right: 15px;
  margin-top: 6px;
  text-align: center;
}
/* new plus area button ___--------end---------  */

/* Dropdown card seleccrtion ---------------------------------------------------------------------------------------------start ---------- */
.select-style {
  border: 1px solid #ccc;
  width: 120px;
  text-align: center;
  text-overflow: row;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 1px 5px 5px rgb(46, 45, 45);
  overflow: hidden;
  background: #ffffff url("img/icon-select.png") no-repeat 90% 50%;
}
.select-style:hover {
  box-shadow: 0 0 2px 2px rgb(149, 139, 233);
}

.inside-saga {
  text-align: left;
  font-weight: 500;
  /* text-align: center; */
  font-size: medium;
}
.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-weight: 500;
}

.select-style select:focus {
  outline: none;
}
/* Dropdown card selection -----------endd--------------------------------------------------------------------------------- */

/* Disable new button ___--------Start--------- */

/* Disable new button ___--------end---------  */

/*  new plus button ___--------Start--------- */
.newBtn {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding-top: 5px;
  border-right-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 1px 5px 5px rgb(46, 45, 45);
  font-size: medium;
  /* margin:auto; */
  /* font-size: px; */
}
.newBtn:hover {
  box-shadow: 0 0 2px 2px rgb(149, 139, 233);
}
/* new plus button ___--------end---------  */

/* Personal Dashboard message-----------------------start------------------ */
.heading {
  align-items: center;
  text-align: center;
  font-size: xx-large;
  margin-top: 5px;
  background-color: cornsilk;
}
/* Personal Dashboard message-----------------------end------------------ */

/* Main Playground Design ------------------------------------start---------------------- */
.playground {
  background-color: rgb(207, 235, 207);
  margin: 1%;
  background: rgb(238, 255, 223);
  box-shadow: 0 0 5px 5px rgb(218, 165, 165);
  /* border: 3px lightgreen;
  box-shadow: 5px 10px lightsalmon; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
}
/* Main Playground Design ------------------------------------end------------------------- */

/* Card Layout ------------------------------------start------------------------- */
.cardLayout {
  margin: 1%;
  background-color: rgb(245, 226, 226);
  /* border: 3px solid; */
  width: 390px;
  height: 400px;
  max-width: 300px;
  display: inline;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* resize: var(#111); */
  padding: 10px;
  /* text-align: justify; */
}
.cardLayout:hover {
  box-shadow: 0 0 2px 2px rgb(149, 139, 233);
}

/* Card Layout ------------------------------------end------------------------- */

/* Cowin Card design ------------------------------------statr------------------------- */
.cowinh3 {
  text-align: center;
}
.pincodeAccept {
  width: 70px;
  text-align: center;
}
.searchBtnCowin {
  margin: 0px 0px 0px 32%;
}
.trackbox {
  background-color: rgb(225, 236, 177);
  margin: 1px;
  padding: 45px;
  text-align: center;
  border: 0.5px solid;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* backdrop-filter: blur(10px);
  backdrop-filter: saturate(180%) blur(10px); */
}

/* Cowin Card design ------------------------------------end------------------------- */

/* Notes Card Design===--------------------start--------------------- */
.notesCard {
}
.notesClass {
  resize: none;
  /* text-align: justify; */
  outline: none;
  /* text-align: justify; */
  text-overflow: clip;
  width: 90%;
  margin-left: 10px;
  height: 85%;
  border: none;
  border-radius: 5px;
  padding: 7px;
}
/* Notes Card Design===--------------------end--------------------- */
